@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colorTheme: #ffffff;
  --background: #ffffff;
  --foreground: #171717;
  transition: var(--background) cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s, var(--foreground) cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 14px; /* Thicker width */
  height: 14px;
}

::-webkit-scrollbar-track {
  background: var(--colorTheme);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--colorTheme); /* Black color */
  border-radius: 10px;
}

/* For Firefox */
* {
  scrollbar-width: thick;
  scrollbar-color: var(--colorTheme) #f1f1f100;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--colorTheme); /* Black color */
  border-radius: 10px;
  border: 3px solid #f1f1f100;
}

*::-webkit-scrollbar-track {
  background: #f1f1f100;
  border-radius: 10px;
}

body {
  height: 100%;
  width: 100vw;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

button {
  transition: scale cubic-bezier(0.075, 0.82, 0.165, 1) .4s !important;
}

button:active {
  scale: .9;
}

.wrapper {
  height: fit-content;
  width: fit-content;
}

/* Landing Page */

#background {
  height: 100%;
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#background-shapes-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.background-filter {
  height: 100%;
  width: 100%;
  position: absolute;
  backdrop-filter: blur(100px);
  filter: blur(100px);
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 30px var(--colorTheme);
}

#landing-register-logIn-wrapper {
  height: 60%;
  width: 100vw;
  display: flex;
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s;
}

#content-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#page-header {
  height: 100px;
  width: calc(100vw - 30px);
  position: relative;
  margin-top: 10px;
  border-radius: 10px;
  z-index: 1;
  transition: border cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.background-blur-soft {
  height: 100%;
  width: 100%;
  position: absolute;
  backdrop-filter: blur(1px);
  z-index: -1;
}

#landing-header-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#brand {
  height: 100%;
  display: flex;
  align-items: center;
}

#brand:hover svg {
  scale: 1.08;
  cursor: pointer;
}

#brand svg {
  height: 95%;
  margin-left: 5px;
  transform: translateY(13%);
  fill: var(--colorTheme);
  transition: fill cubic-bezier(0.075, 0.82, 0.165, 1) 1s, scale cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

#brand h1 {
  transform: translateY(5px);
  font-family: 'Impact', Charcoal, sans-serif;
  font-size: 50px;
  color: var(--colorTheme);
  transition: color cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

#manage-dashboard-buttons {
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 5px;
  position: absolute;
  bottom: 0;
}

#manage-dashboard-buttons button {
  width: 60px;
  padding: 10px;
  border-radius: 3px;
  font-weight: bolder;
  box-shadow: inset 0 0 30px var(--colorTheme);
  transition: color cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;
}

#manage-dashboard-buttons button:hover {
  color: var(--colorTheme);
}

.login-button {
  height: 60px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--colorTheme);
  border-radius: 40px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  color: var(--background);
  font-weight: bolder;
  text-align: center;

  transition: color cubic-bezier(0.075, 0.82, 0.165, 1) 1s, background-color cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s, transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.login-button:hover {
  background-color: var(--background);
  color: var(--colorTheme);
}

.register-button-wrapper {
  height: fit-content;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s, width cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.register-button {
  height: 60px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--background);
  border-radius: 40px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  color: var(--colorTheme);
  font-weight: bolder;
  text-align: center;

  transition: color cubic-bezier(0.075, 0.82, 0.165, 1) 1s, background-color cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s, transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.register-button:hover {
  background-color: var(--colorTheme);
  color: var(--background);
}

#landing-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

#buzzwords-title {
  margin: 50px;
  font-family: 'Impact', Charcoal, sans-serif;
  font-size: min(60px, 15vw);
}

#landing-main .wrapper {
  transform: translateX(-80px);
}

#create-new-dashboard-button {
  height: 70px;

  display: flex;
  align-items: center;

  position: relative;

  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--background);
  border-radius: 40px;

  font-family: 'Ubuntu', sans-serif;
  font-size: min(30px, 5.5vw);
  color: var(--colorTheme);
  font-weight: bolder;
  text-align: center;

  transition: color cubic-bezier(0.075, 0.82, 0.165, 1) .8s, background-color cubic-bezier(0.075, 0.82, 0.165, 1) .8s, transform cubic-bezier(0.075, 0.82, 0.165, 1) .9s;
}

#create-new-dashboard-button svg {
  position: absolute;
  left: 95%;
  transform: translateY(3px);
  fill: var(--colorTheme);
  transition: fill cubic-bezier(0.075, 0.82, 0.165, 1) 1s, left cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;
}

#landing-main .wrapper:hover #create-new-dashboard-button {
  transform: translateX(50px);
}

#landing-main .wrapper:hover #create-new-dashboard-button {
  background-color: var(--colorTheme);
  color: var(--background);
}

#landing-main .wrapper:hover:hover svg {
  left: 98%;
  fill: var(--background);
}

#widget-showoff-wrapper {
  height: 100%;
  min-width: 100px;
  padding: 30px;
  flex: 1;
  display: flex;
  align-content: start;
  flex-wrap: wrap;
  gap: 10px;
}

#register {
  height: 100vh;
  width: 100vw;
  z-index: 1;
  transform: translateX(100vw);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

#login {
  height: 100vh;
  width: 100vw;
  z-index: 1;
  transform: translateX(-200vw);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

form {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  transform: translateY(-25%);
}

form input {
  height: 70px;
  width: fit-content;
  min-width: 150px;
  border: 0;
  border-radius: 30px;
  background-color: #0a0a0a9a;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 0px var(--colorTheme);
  transition: box-shadow cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold; 
}

form input:focus {
  outline: 0;
  box-shadow: 0 0 30px var(--colorTheme);
}

@media (max-width: 1000px) {
  #nav-buttons {
    width: 100%;
    justify-content: center;
  }
  #widget-showoff-wrapper, #brand {
    display: none;
  }
  #landing-main .wrapper{
    transform: translateX(-20px);
  }
  #create-new-dashboard-button:hover {
    background-color: var(--colorTheme);
    color: var(--background);
  }

  #landing-main .wrapper:hover #create-new-dashboard-button {
    transform: translateX(10px);
  }
}

/* Dashboard browse page */

#header-profile {
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  overflow: visible;
  position: absolute;
  top: 0;
  right: 0;
}

#profile-picture {
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile-picture-bg {
  height: calc(100% - 20px);
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: inset 0 0 30px var(--colorTheme);
  position: absolute;
}

#profile-picture:hover #profile-picture-image-wrapper {
  height: calc(100% - 20px);
  rotate: 3deg;
}

#profile-picture-image-wrapper {
  height: calc(100% - 35px);
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  transition: height cubic-bezier(0.165, 0.84, 0.44, 1) .3s, rotate cubic-bezier(0.165, 0.84, 0.44, 1) .3s;
}

#profile-picture-image {
  height: 100%;
  width: auto;
}

#profile-options {
  height: 100px;
  width: 200px;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.205);
  border-radius: 10px;
  box-shadow: 0 0 20px var(--colorTheme);
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

#profile-options button {
  transition: color cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

#profile-options button:hover {
  color: var(--colorTheme);
}

#dashboard-list {
  width: 100vw;
  height: calc(100vh - 110px);
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  overflow-y: scroll;
  position: absolute;
  top: 110px;
}

.dashboard-card {
  height: 300px;
  width: 200px;
  box-shadow: inset 0 0 0px var(--colorTheme), 0 0 20px var(--colorTheme);
  background-color: #0a0a0a14;
  border-radius: 45px;
  padding: 10px;
  margin: 0px;
  position: relative;
  transition: box-shadow cubic-bezier(0.075, 0.82, 0.165, 1) .5s, margin cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
}

.dashboard-card:hover {
  box-shadow: inset 0 0 20px var(--colorTheme), 0 0 0px var(--colorTheme);
  margin-left: 20px;
  margin-right: 20px;
}

.dashboard-card-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  margin: 15px;
  margin-bottom: 10px;
}

.dashboard-card-widgets-preview {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}

.widget-preview {
  height: fit-content;
  padding: 7px;
  padding-right: 14px;
  padding-left: 14px;
  margin: 0px;
  box-shadow: inset 0 0 7px var(--colorTheme);
  border-radius: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: bold;
  transition: box-shadow cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

.dashboard-card:hover .widget-preview {
  box-shadow: inset 0 0 10px var(--colorTheme);
}

.dasboard-card-buttons {
  width: 100%;
  height: 80px;
  scale: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8%;
  bottom: 0;
  left: 0;
  position: absolute;
  transition: scale cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.dashboard-card:hover .dasboard-card-buttons {
  scale: 1;
}

.dasboard-card-buttons button {
  height: 40px;
  width: 40px;
  border-radius: 15px;
  box-shadow: inset 0 0 7px var(--colorTheme);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

.dasboard-card-buttons button:hover {
  box-shadow: inset 0 0 20px var(--colorTheme);
}

.dasboard-card-buttons button img {
  height: 80%;
  width: 80%;
  
}

.dasboard-card-buttons button svg {
  height: 80%;
  width: 80%;
  fill: var(--colorTheme);
  stroke: var(--colorTheme);
  filter: blur(1px);
  transition: filter cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.dashboard-card:hover .dasboard-card-buttons button svg {
  filter: blur(0);
}

/* Widgets */

.widget-wrapper {
  height: fit-content;
  width: fit-content;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: inset 0 0 80px var(--colorTheme);
}

.background-blur-widget {
  height: 100%;
  width: 100%;
  position: absolute;
  backdrop-filter: blur(5px);
}

.weather-widget {
  height: 200px;
  min-width: 60%;
  flex: 1;
}

.clock {
  height: 200px;
  width: 200px;
}

.content-weather {
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  position: relative;
}

.weather-status-wrapper {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.weather-status {
  position: absolute;
}

.sun {
  height: 150px;
  width: 150px;
  rotate: -15deg;
  border-radius: 50%;
  background: linear-gradient(to right, rgb(231, 150, 0), rgb(255, 206, 82));
  overflow: hidden;
}

.weather-status-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weather-text {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
}

.weather-temp{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  color: var(--colorTheme);
}

.content-temp {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.thermometer {
  height: 60%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.thermometer-bar {
  height: 100%;
  width: 20px;
  background: linear-gradient(to right, var(--colorTheme), rgb(255, 255, 255));
  border-radius: 30px;
}

.thermometer-bottom {
  height: 40px;
  width: 40px;
  background: linear-gradient(to right, var(--colorTheme), rgb(255, 255, 255));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
}

.thermometer-inner-bottom {
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, red, rgb(255, 88, 88));
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  bottom: 5px;
}

.thermometer-inner-bar {
  height: 0%;
  width: 10px;
  background: linear-gradient(to right, red, rgb(255, 88, 88));
  border-radius: 30px;
  z-index: 1;
  position: absolute;
  bottom: 5px;
  transition: height cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.temps {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.celcius {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
}

.fahrenheit {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  color: var(--colorTheme);
}

.content-todo {
  height: 200px;
  width: 200px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.todo-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  font-size: 25px;
}

.color-theme {
  color: var(--colorTheme)
}

.todo-list {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.todo-element {
  width: fit-content;
  margin-bottom: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  font-size: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: margin cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.todo-element:hover {
  cursor: pointer;
}

.todo-element-cross {
  height: 5px;
  width: 0;
  background-color: var(--colorTheme);
  border-radius: 30px;
  position: absolute;
  transition: width cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.todo-element:hover .todo-element-cross {
  width: 100%;
}

/* Dashboard */

#dashboard {
  height: calc(100vh - 110px);
  width: 100vw;
  top: 110px;
  position: absolute;
}

#bottom-left-buttons {
  display: flex;
  flex-direction: column;
  bottom: 10px;
  left: 10px;
  position: absolute;
}

#dashboard-widgets {
  height: 100%;
  width: 100vw;
  padding: 70px;
  padding-top: 30px;
  flex: 1;
  display: flex;
  align-content: start;
  flex-wrap: wrap;
  gap: 15px;
  overflow-y: scroll;
  transition: width cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

#edit-ui {
  height: calc(100vh - 110px);
  width: 300px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 30px var(--colorTheme);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 10px;
  right: 0px;
  position: absolute;
  transform: translateX(100%);
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

#edit-ui-background {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: var(--colorTheme);
  opacity: 0.35;
  z-index: -1;
  position: absolute;
  transform: translate(-20px, -20px);
}

#color-theme-selector {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="color"] {
  appearance: none;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
}

input[type="color"]:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#blur-selector {
  display: flex;
  align-items: center;
  gap: 10px;
}

#blur-slider {
  -webkit-appearance: none;
  width: 70%;
  height: 10px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#blur-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: var(--colorTheme);
  cursor: pointer;
}

#blur-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--colorTheme);
  cursor: pointer;
}

#background-image-selector {
  margin-top: 10px;
  display: flex;
  
}

#background-image-uploader-label {
  font-size: 15px;
  border-radius: 20px;
  color: white;
  background-color: var(--colorTheme);
  padding: 10px;
  transition: color cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s, background-color cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

#background-image-uploader-label:hover {
  color: var(--colorTheme);
  background-color: white;
}

#background-image-sizing-selector {
  width: 90px;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  color: var(--colorTheme);
  background-color: white;
  text-align: center;
  appearance: none; /* Hides default arrow */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
  transition: color cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s, background-color cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

#background-image-sizing-selector:focus {
  outline: none;
  color: white;
  background-color: var(--colorTheme);
}

#widget-selector {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.widget-selector-widget {
  height: auto;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  box-shadow: inset 0 0 30px var(--colorTheme);
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  font-size: 19px;
  flex: 1 0 auto;
  text-align: center;
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none; /* For WebKit-based browsers */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For older versions of Internet Explorer */
}

#trashcan-destroy-widgets {
  height: 80px;
  width: 100%;
  background-color: rgba(255, 13, 0, 0.295);
  box-shadow: inset 0 0 50px rgb(255, 43, 40), 0 0 5px rgba(0, 0, 0, 0.364);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#trashcan-destroy-widgets svg {
  animation: tilt 2s ease-in-out infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
